*.out
*.err
*.log
*pycache*
*.mod
*fort*
*.o
*.exe
*dump*
*.txt
*ran*
*tab*
*lis*
*.dat
*.h5
*.hdf5
*.flair
.DS_Store
*.hdf5
*.sif
*.simg
*.pickle
*~
*.yie
*.rnc
*.lof
*.bbl
*.fls
*.blg
*.synctex*
*.fdb_latexmk
*.aux
*.toc
*test*
