########################################################
#               nEXO OD FLUKA Simulation YAML          #
########################################################
# Copy this file to simconfig.yaml and fill in the     #
# user-specific values marked with <...>.              #
########################################################

Simulation:
  Muons: 5500                  # Number of muons to run for simulation equivalent to about 2 months

Input:                              # Not likely to require changing
  SIFPath: ''  # Set this to the absolute path of your flukaSims directory on the cluster
  InputPath: 'input/'
  # Define the paths below with respect to this path!^^
  InputFile: 'nEXO_2024.inp'              # Not likely to require changing
  SourceFile: 'muon_from_file.f'        # Not likely to require changing
  MGDrawFile: 'mgdraw_resnuc.f'  # Choose the mgdraw routine: mgdraw_resnuc.f or mgdraw_neutron_count.f
  ResnucleiFile:  'usrrnc.f'

Source: # (DON'T CHANGE -unless running locally) For FLUKA binaries in the singularity image 
  FlukaPath: '/usr/local/fluka/bin/'
